<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/thought/add" class="btn">Criar Pensamentos</a>
    </div>
    <h3>Seus Pensamentos</h3>
    {{#if thoughts}}
    <ul>
        {{#each thoughts}}
            <li>
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a class="btn" href="/thought/edit/{{this.id}}">Editar</a>
                    <form action="/thought/remover" method="post">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <button class="btn">Remover</button>
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
    {{else}}
        <p>Você ainda não possui pensamentos!</p>
    {{/if}}
</div>