<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Toughts</title>
</head>

<body>
    <nav id="navbar">
        <a href="/">Thoughts</a>
        <ul>
            <li><a href="/">Pensamentos</a></li>
            {{#if session.userId}}
            <li><a href="/thoughtDashboard">Dashboard</a></li>
            <li><a href="/logout">Sair</a></li>
            {{else}}
            <li><a href="/login">Entrar</a></li>
            <li><a href="/register">Registrar</a></li>
            {{/if}}
        </ul>
    </nav>

    {{#if errors}}

    <div class="alert-messages bg-errors">
        {{#each errors}}
        {{this}}<br>
        {{/each}}
    </div>

    {{/if}}
    {{#if success}}

    <div class="alert-messages bg-success">
        {{#each success}}
        {{this}}<br>
        {{/each}}
    </div>

    {{/if}}
    <div class="container">
        {{{ body }}}
    </div>
    <footer>
        <p><span>Thoughts</span> &copy; 2023</p>
    </footer>
</body>

</html>