<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">Digite o seu email:</label>
            <input type="email" name="email" id="email" placeholder="Digite o seu email" required>
        </div>
        <div class="form-control">
            <label for="senha">Digite a sua senha:</label>
            <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required>
        </div>
        <div class="form-control">
        <button>Entrar</button>
        </div>
        <p>Não tem uma conta? <a href="/register">clique aqui</a> para se registrar!</p>
    </form>
</div>